In [21]:
import numpy as np
import pandas as pd
import seaborn as sns
import copy
from pathlib import Path
import warnings

import lightning.pytorch as pl
from lightning.pytorch.callbacks import EarlyStopping, LearningRateMonitor
from lightning.pytorch.loggers import TensorBoardLogger
import numpy as np
import pandas as pd
import psycopg
import torch

from pytorch_forecasting import Baseline, TemporalFusionTransformer, TimeSeriesDataSet
from pytorch_forecasting.data import GroupNormalizer
from pytorch_forecasting.metrics import MAE, SMAPE, PoissonLoss, QuantileLoss
from pytorch_forecasting.models.temporal_fusion_transformer.tuning import (
    optimize_hyperparameters,
)
import util_funcs as util

In [22]:
config = util.load_config("_config_.yaml")
sql_conn_str = f"postgresql://{config['sql_username']}:{config['sql_password']}@localhost:{config['sql_port']}/premier_league_data"
conn = psycopg.Connection.connect(conninfo=sql_conn_str)
conn.close()

In [23]:
with open("queries/team_data.sql", "r") as infile:
    team_sql = infile.read()

with open("queries/match_data.sql", "r") as infile:
    match_sql = infile.read()

with psycopg.Connection.connect(conninfo=sql_conn_str) as conn:
    team_df = pd.read_sql(team_sql, con=conn)
    match_df = pd.read_sql(match_sql, con=conn)

/tmp/ipykernel_11100/2211280633.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  team_df = pd.read_sql(team_sql, con=conn)
/tmp/ipykernel_11100/2211280633.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  match_df = pd.read_sql(match_sql, con=conn)

In [24]:
team_df.head()

,season,rk,squad,mp,w,d,l,gf,ga,gd,pts,pts_per_mp,xg,xga,xgd,xgd_per_90,attendance,top_team_scorer,goalkeeper,notes
0,23/24,1,Manchester City,38,28,7,3,96,34,+62,91,2.39,80.5,35.6,44.9,1.18,53012,Erling Haaland - 27,Ederson,→ Champions League via league finish
1,23/24,2,Arsenal,38,28,5,5,91,29,+62,89,2.34,76.1,27.9,48.2,1.27,60236,Bukayo Saka - 16,David Raya,→ Champions League via league finish
2,23/24,3,Liverpool,38,24,10,4,86,41,+45,82,2.16,87.8,45.7,42.0,1.11,55979,Mohamed Salah - 18,Alisson,→ Champions League via league finish
3,23/24,4,Aston Villa,38,20,8,10,76,61,+15,68,1.79,63.3,59.9,3.4,0.09,41858,Ollie Watkins - 19,Emiliano Martínez,→ Champions League via league finish
4,23/24,5,Tottenham,38,20,6,12,74,61,+13,66,1.74,68.2,63.4,4.8,0.13,61482,Son Heung-min - 17,Guglielmo Vicario,→ Europa League via league finish

In [25]:
match_df.head()

,season,team,first_name,last_name,match_date,day_of_week,comp,round,venue,match_result,...,passes_launch_pct,passes_avglen,goal_kicks_att,goal_kicks_avglen,goal_kicks_launch_pct,crosses_opp,crosses_stp,crosses_stp_pct,sweeper_num_opa,sweeper_avgdist
0,2024-2025,Liverpool,Mohamed,Salah,2024-08-17,Sat,Premier League,Matchweek 1,Away,W 2–0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-2025,Liverpool,Mohamed,Salah,2024-08-25,Sun,Premier League,Matchweek 2,Home,W 2–0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2024-2025,Liverpool,Mohamed,Salah,2024-09-01,Sun,Premier League,Matchweek 3,Away,W 3–0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2024-2025,Liverpool,Mohamed,Salah,2024-09-14,Sat,Premier League,Matchweek 4,Home,L 0–1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2024-2025,Liverpool,Mohamed,Salah,2024-09-21,Sat,Premier League,Matchweek 5,Home,W 3–0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
match_df.season = match_df.season.apply(lambda x: x[2:4] + '/' + x[-2:])
match_df.head()

,season,team,first_name,last_name,match_date,day_of_week,comp,round,venue,match_result,...,passes_launch_pct,passes_avglen,goal_kicks_att,goal_kicks_avglen,goal_kicks_launch_pct,crosses_opp,crosses_stp,crosses_stp_pct,sweeper_num_opa,sweeper_avgdist
0,24/25,Liverpool,Mohamed,Salah,2024-08-17,Sat,Premier League,Matchweek 1,Away,W 2–0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,24/25,Liverpool,Mohamed,Salah,2024-08-25,Sun,Premier League,Matchweek 2,Home,W 2–0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,24/25,Liverpool,Mohamed,Salah,2024-09-01,Sun,Premier League,Matchweek 3,Away,W 3–0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,24/25,Liverpool,Mohamed,Salah,2024-09-14,Sat,Premier League,Matchweek 4,Home,L 0–1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,24/25,Liverpool,Mohamed,Salah,2024-09-21,Sat,Premier League,Matchweek 5,Home,W 3–0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
team_df.head()

,season,rk,squad,mp,w,d,l,gf,ga,gd,pts,pts_per_mp,xg,xga,xgd,xgd_per_90,attendance,top_team_scorer,goalkeeper,notes
0,23/24,1,Manchester City,38,28,7,3,96,34,+62,91,2.39,80.5,35.6,44.9,1.18,53012,Erling Haaland - 27,Ederson,→ Champions League via league finish
1,23/24,2,Arsenal,38,28,5,5,91,29,+62,89,2.34,76.1,27.9,48.2,1.27,60236,Bukayo Saka - 16,David Raya,→ Champions League via league finish
2,23/24,3,Liverpool,38,24,10,4,86,41,+45,82,2.16,87.8,45.7,42.0,1.11,55979,Mohamed Salah - 18,Alisson,→ Champions League via league finish
3,23/24,4,Aston Villa,38,20,8,10,76,61,+15,68,1.79,63.3,59.9,3.4,0.09,41858,Ollie Watkins - 19,Emiliano Martínez,→ Champions League via league finish
4,23/24,5,Tottenham,38,20,6,12,74,61,+13,66,1.74,68.2,63.4,4.8,0.13,61482,Son Heung-min - 17,Guglielmo Vicario,→ Europa League via league finish

In [28]:
team_df.shape

(160, 20)

In [29]:
team_df["xg_per_game"] = team_df["xg"] / team_df["mp"]
team_df["xga_per_game"] = team_df["xga"] / team_df["mp"]

In [30]:
team_df.head()

,season,rk,squad,mp,w,d,l,gf,ga,gd,...,xg,xga,xgd,xgd_per_90,attendance,top_team_scorer,goalkeeper,notes,xg_per_game,xga_per_game
0,23/24,1,Manchester City,38,28,7,3,96,34,+62,...,80.5,35.6,44.9,1.18,53012,Erling Haaland - 27,Ederson,→ Champions League via league finish,2.118421,0.936842
1,23/24,2,Arsenal,38,28,5,5,91,29,+62,...,76.1,27.9,48.2,1.27,60236,Bukayo Saka - 16,David Raya,→ Champions League via league finish,2.002632,0.734211
2,23/24,3,Liverpool,38,24,10,4,86,41,+45,...,87.8,45.7,42.0,1.11,55979,Mohamed Salah - 18,Alisson,→ Champions League via league finish,2.310526,1.202632
3,23/24,4,Aston Villa,38,20,8,10,76,61,+15,...,63.3,59.9,3.4,0.09,41858,Ollie Watkins - 19,Emiliano Martínez,→ Champions League via league finish,1.665789,1.576316
4,23/24,5,Tottenham,38,20,6,12,74,61,+13,...,68.2,63.4,4.8,0.13,61482,Son Heung-min - 17,Guglielmo Vicario,→ Europa League via league finish,1.794737,1.668421

In [31]:
team_df["match_season"] = team_df["season"].apply(lambda x: f"{int(x[:2])+1}/{int(x[-2:])+1}")

In [32]:
team_df.sample(5)

,season,rk,squad,mp,w,d,l,gf,ga,gd,...,xga,xgd,xgd_per_90,attendance,top_team_scorer,goalkeeper,notes,xg_per_game,xga_per_game,match_season
16,23/24,17,Nott'ham Forest,38,9,9,20,49,67,-18,...,53.2,-3.3,-0.09,29386,Chris Wood - 14,Matt Turner,4-point deduction 2,1.313158,1.400000,24/25
76,20/21,17,Burnley,38,10,9,19,33,55,-22,...,54.7,-15.4,-0.40,178,Chris Wood - 12,Nick Pope,None,1.034211,1.439474,21/22
60,20/21,1,Manchester City,38,27,5,6,83,32,+51,...,30.2,38.0,1.00,526,İlkay Gündoğan - 13,Ederson,→ Champions League via league finish,1.794737,0.794737,21/22
38,22/23,19,Leeds United,38,7,10,21,48,78,-30,...,67.1,-19.8,-0.52,36566,Rodrigo - 13,Illan Meslier,Relegated,1.244737,1.765789,23/24
111,18/19,12,Crystal Palace,38,14,7,17,51,53,-2,...,50.1,-2.5,-0.07,25455,Luka Milivojević - 12,Vicente Guaita,None,1.252632,1.318421,19/20

In [33]:
match_df.shape

(88430, 65)

In [34]:
match_df = match_df.merge(team_df[["match_season", "squad", "xg_per_game", "xga_per_game"]], left_on=["season", "opponent"], right_on=["match_season", "squad"], how="inner").drop(columns=["squad_y", "match_season"])
match_df = match_df.rename(mapper={"xg_per_game": "opponent_prev_xg_per_game", "xga_per_game": "opponent_prev_xga_per_game"}, axis=1)
match_df.head()

,season,team,first_name,last_name,match_date,day_of_week,comp,round,venue,match_result,...,goal_kicks_att,goal_kicks_avglen,goal_kicks_launch_pct,crosses_opp,crosses_stp,crosses_stp_pct,sweeper_num_opa,sweeper_avgdist,opponent_prev_xg_per_game,opponent_prev_xga_per_game
0,24/25,Liverpool,Mohamed,Salah,2024-08-25,Sun,Premier League,Matchweek 2,Home,W 2–0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.531579,1.473684
1,24/25,Liverpool,Mohamed,Salah,2024-09-01,Sun,Premier League,Matchweek 3,Away,W 3–0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.486842,1.813158
2,24/25,Liverpool,Mohamed,Salah,2024-09-14,Sat,Premier League,Matchweek 4,Home,L 0–1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.313158,1.400000
3,24/25,Liverpool,Mohamed,Salah,2024-09-21,Sat,Premier League,Matchweek 5,Home,W 3–0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.471053,1.528947
4,24/25,Liverpool,Mohamed,Salah,2024-09-28,Sat,Premier League,Matchweek 6,Away,W 2–1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.228947,1.781579

In [35]:
match_df.shape

(66037, 67)

In [36]:
match_df.loc[match_df["opponent_prev_xg_per_game"].isna()][["season", "team", "opponent"]]

Empty DataFrame
Columns: [season, team, opponent]
Index: []

In [37]:
match_df["clean_sheet"] = match_df.apply(lambda x: x["match_result"][-1] == '0' if x["venue"] == "Away" else (x["match_result"][2] == '0' if x["venue"] == "Home" else np.nan), axis=1)

In [38]:
match_df[["season", "team", "first_name", "last_name", "venue", "match_result", "clean_sheet"]].head()

  season       team first_name last_name venue match_result  clean_sheet
0  24/25  Liverpool    Mohamed     Salah  Home        W 2–0        False
1  24/25  Liverpool    Mohamed     Salah  Away        W 3–0         True
2  24/25  Liverpool    Mohamed     Salah  Home        L 0–1         True
3  24/25  Liverpool    Mohamed     Salah  Home        W 3–0        False
4  24/25  Liverpool    Mohamed     Salah  Away        W 2–1        False

In [39]:
match_df["clean_sheet"].isna().sum()

np.int64(0)

In [40]:
match_df["primary_pos"] = match_df["pos"].str[0:2].astype("category")

In [41]:
match_df.head()

,season,team,first_name,last_name,match_date,day_of_week,comp,round,venue,match_result,...,goal_kicks_launch_pct,crosses_opp,crosses_stp,crosses_stp_pct,sweeper_num_opa,sweeper_avgdist,opponent_prev_xg_per_game,opponent_prev_xga_per_game,clean_sheet,primary_pos
0,24/25,Liverpool,Mohamed,Salah,2024-08-25,Sun,Premier League,Matchweek 2,Home,W 2–0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.531579,1.473684,False,RW
1,24/25,Liverpool,Mohamed,Salah,2024-09-01,Sun,Premier League,Matchweek 3,Away,W 3–0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.486842,1.813158,True,RW
2,24/25,Liverpool,Mohamed,Salah,2024-09-14,Sat,Premier League,Matchweek 4,Home,L 0–1,...,NaN,NaN,NaN,NaN,NaN,NaN,1.313158,1.400000,True,RW
3,24/25,Liverpool,Mohamed,Salah,2024-09-21,Sat,Premier League,Matchweek 5,Home,W 3–0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.471053,1.528947,False,RW
4,24/25,Liverpool,Mohamed,Salah,2024-09-28,Sat,Premier League,Matchweek 6,Away,W 2–1,...,NaN,NaN,NaN,NaN,NaN,NaN,1.228947,1.781579,False,RW

In [42]:
match_df["venue"].unique()

array(['Home', 'Away'], dtype=object)

In [43]:
match_df["home"] = match_df["venue"] == "Home"

In [44]:
match_df.head()

,season,team,first_name,last_name,match_date,day_of_week,comp,round,venue,match_result,...,crosses_opp,crosses_stp,crosses_stp_pct,sweeper_num_opa,sweeper_avgdist,opponent_prev_xg_per_game,opponent_prev_xga_per_game,clean_sheet,primary_pos,home
0,24/25,Liverpool,Mohamed,Salah,2024-08-25,Sun,Premier League,Matchweek 2,Home,W 2–0,...,NaN,NaN,NaN,NaN,NaN,1.531579,1.473684,False,RW,True
1,24/25,Liverpool,Mohamed,Salah,2024-09-01,Sun,Premier League,Matchweek 3,Away,W 3–0,...,NaN,NaN,NaN,NaN,NaN,1.486842,1.813158,True,RW,False
2,24/25,Liverpool,Mohamed,Salah,2024-09-14,Sat,Premier League,Matchweek 4,Home,L 0–1,...,NaN,NaN,NaN,NaN,NaN,1.313158,1.400000,True,RW,True
3,24/25,Liverpool,Mohamed,Salah,2024-09-21,Sat,Premier League,Matchweek 5,Home,W 3–0,...,NaN,NaN,NaN,NaN,NaN,1.471053,1.528947,False,RW,True
4,24/25,Liverpool,Mohamed,Salah,2024-09-28,Sat,Premier League,Matchweek 6,Away,W 2–1,...,NaN,NaN,NaN,NaN,NaN,1.228947,1.781579,False,RW,False

In [45]:
match_df["team"] = match_df["team"].astype("category")

In [46]:
match_df["player"] = match_df["first_name"] + ' ' + match_df["last_name"]

In [47]:
match_df.head()

,season,team,first_name,last_name,match_date,day_of_week,comp,round,venue,match_result,...,crosses_stp,crosses_stp_pct,sweeper_num_opa,sweeper_avgdist,opponent_prev_xg_per_game,opponent_prev_xga_per_game,clean_sheet,primary_pos,home,player
0,24/25,Liverpool,Mohamed,Salah,2024-08-25,Sun,Premier League,Matchweek 2,Home,W 2–0,...,NaN,NaN,NaN,NaN,1.531579,1.473684,False,RW,True,Mohamed Salah
1,24/25,Liverpool,Mohamed,Salah,2024-09-01,Sun,Premier League,Matchweek 3,Away,W 3–0,...,NaN,NaN,NaN,NaN,1.486842,1.813158,True,RW,False,Mohamed Salah
2,24/25,Liverpool,Mohamed,Salah,2024-09-14,Sat,Premier League,Matchweek 4,Home,L 0–1,...,NaN,NaN,NaN,NaN,1.313158,1.400000,True,RW,True,Mohamed Salah
3,24/25,Liverpool,Mohamed,Salah,2024-09-21,Sat,Premier League,Matchweek 5,Home,W 3–0,...,NaN,NaN,NaN,NaN,1.471053,1.528947,False,RW,True,Mohamed Salah
4,24/25,Liverpool,Mohamed,Salah,2024-09-28,Sat,Premier League,Matchweek 6,Away,W 2–1,...,NaN,NaN,NaN,NaN,1.228947,1.781579,False,RW,False,Mohamed Salah

In [48]:
match_df["player"] = match_df["player"].astype("category")

In [49]:
seasons_sorted = list(match_df["season"].unique())
seasons_sorted.sort()
seasons_sorted

['18/19', '19/20', '20/21', '21/22', '22/23', '23/24', '24/25']

In [50]:
match_df["season"] = match_df["season"].apply(lambda x: seasons_sorted.index(x))

In [51]:
match_df.head()

,season,team,first_name,last_name,match_date,day_of_week,comp,round,venue,match_result,...,crosses_stp,crosses_stp_pct,sweeper_num_opa,sweeper_avgdist,opponent_prev_xg_per_game,opponent_prev_xga_per_game,clean_sheet,primary_pos,home,player
0,6,Liverpool,Mohamed,Salah,2024-08-25,Sun,Premier League,Matchweek 2,Home,W 2–0,...,NaN,NaN,NaN,NaN,1.531579,1.473684,False,RW,True,Mohamed Salah
1,6,Liverpool,Mohamed,Salah,2024-09-01,Sun,Premier League,Matchweek 3,Away,W 3–0,...,NaN,NaN,NaN,NaN,1.486842,1.813158,True,RW,False,Mohamed Salah
2,6,Liverpool,Mohamed,Salah,2024-09-14,Sat,Premier League,Matchweek 4,Home,L 0–1,...,NaN,NaN,NaN,NaN,1.313158,1.400000,True,RW,True,Mohamed Salah
3,6,Liverpool,Mohamed,Salah,2024-09-21,Sat,Premier League,Matchweek 5,Home,W 3–0,...,NaN,NaN,NaN,NaN,1.471053,1.528947,False,RW,True,Mohamed Salah
4,6,Liverpool,Mohamed,Salah,2024-09-28,Sat,Premier League,Matchweek 6,Away,W 2–1,...,NaN,NaN,NaN,NaN,1.228947,1.781579,False,RW,False,Mohamed Salah

In [52]:
match_df["time_idx"] = match_df["season"] * 38 + match_df["round"].str[len('Matchweek '):].astype(int)

In [53]:
match_df.head()

,season,team,first_name,last_name,match_date,day_of_week,comp,round,venue,match_result,...,crosses_stp_pct,sweeper_num_opa,sweeper_avgdist,opponent_prev_xg_per_game,opponent_prev_xga_per_game,clean_sheet,primary_pos,home,player,time_idx
0,6,Liverpool,Mohamed,Salah,2024-08-25,Sun,Premier League,Matchweek 2,Home,W 2–0,...,NaN,NaN,NaN,1.531579,1.473684,False,RW,True,Mohamed Salah,230
1,6,Liverpool,Mohamed,Salah,2024-09-01,Sun,Premier League,Matchweek 3,Away,W 3–0,...,NaN,NaN,NaN,1.486842,1.813158,True,RW,False,Mohamed Salah,231
2,6,Liverpool,Mohamed,Salah,2024-09-14,Sat,Premier League,Matchweek 4,Home,L 0–1,...,NaN,NaN,NaN,1.313158,1.400000,True,RW,True,Mohamed Salah,232
3,6,Liverpool,Mohamed,Salah,2024-09-21,Sat,Premier League,Matchweek 5,Home,W 3–0,...,NaN,NaN,NaN,1.471053,1.528947,False,RW,True,Mohamed Salah,233
4,6,Liverpool,Mohamed,Salah,2024-09-28,Sat,Premier League,Matchweek 6,Away,W 2–1,...,NaN,NaN,NaN,1.228947,1.781579,False,RW,False,Mohamed Salah,234

In [54]:
match_df["did_player_start"].unique()

array(['Y', 'Y*', 'N'], dtype=object)

In [55]:
match_df["did_player_start"] = match_df["did_player_start"].apply(lambda x: 'Y' in x)

In [56]:
match_df[["team", "player", "match_date", "played_minutes", "did_player_start"]].head()

        team         player  match_date played_minutes  did_player_start
0  Liverpool  Mohamed Salah  2024-08-25             82              True
1  Liverpool  Mohamed Salah  2024-09-01             90              True
2  Liverpool  Mohamed Salah  2024-09-14             90              True
3  Liverpool  Mohamed Salah  2024-09-21             90              True
4  Liverpool  Mohamed Salah  2024-09-28             90              True

In [57]:
match_df[["team", "player", "match_date", "played_minutes", "did_player_start"]].loc[match_df["did_player_start"] == False].head()

,team,player,match_date,played_minutes,did_player_start
100,Liverpool,Alexis Mac Allister,2024-10-20,10,False
121,Liverpool,Alexis Mac Allister,2025-05-04,22,False
122,Liverpool,Alexis Mac Allister,2025-05-11,24,False
154,Liverpool,Dominik Szoboszlai,2024-10-05,45,False
156,Liverpool,Dominik Szoboszlai,2024-10-27,28,False

In [30]:
#TODO fill missing matches with 0s?